/* .product-name {
    color: #ffffff;
}

.res-logo {
    width: 40px;
    height: 40px;
    margin-left: -5px;
}

h4 {
    font-family: 'Anonymous Pro';
    font-size: 22px;
} */


/* color: rgba(0,0,0,.54); */