<mat-toolbar color="primary" class="nav-bar">
    <h4 (click)="onLinkClick('')" class="product-name cursor-pointer">
        {{productName}}
        <img class="res-logo" src="../../../assets/images/ben-comecho-logo.png" alt="">
    </h4>


    <span class="example-spacer"></span>
    <button mat-button *ngIf="customerName==''" class="right-tools" (click)=triggerSignup()>
        <span class="material-icons">how_to_reg</span>
        <span class="hide-menu-text">
            signup
        </span>
    </button>
    <button mat-button *ngIf="customerName==''" class="right-tools" (click)="onLinkClick('signIn')">
        <span class="material-icons">login</span>
        <span class="hide-menu-text">
            signin
        </span>
    </button>

    <button mat-button [routerLink]="['/customer/myorders']" *ngIf="customerName!=''" class="right-tools curser-pointer">
        <mat-icon>fastfood</mat-icon>
        <span class="hide-menu-text">
            My orders
        </span>
    </button>
    <button mat-button *ngIf="customerName!=''" class="right-tools curser-pointer" [matMenuTriggerFor]="beforeMenu">
        <span class="hide-menu-text">
            Hey {{customerName}}
        </span>
        <span class="material-icons" > account_circle </span>
    </button>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/customer/account']">
            <mat-icon>person</mat-icon>
            my account
        </button>
        <button mat-menu-item [routerLink]="['/logout']">
            <mat-icon>login</mat-icon>
            logout
        </button>
    </mat-menu>
</mat-toolbar>