<div class="main-card">
    <div class="sub-card">
        <mat-card>
            <h2 class="text-center">Account Recovery - Password<br>
                <small>Provide any of the recent passwords you remember</small>
            </h2>

            <form #form="ngForm">

                <mat-form-field appearance="standard" class="form-width">
                    <mat-label>old password</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="oldPassword" required pattern="{{passwordRegex}}" placeholder="********" #oldPasswordM="ngModel">
                    <button mat-icon-button matSuffix type="button">
                  <mat-icon>vpn_key</mat-icon>
                </button>
                    <mat-error *ngIf="oldPasswordM.touched && !oldPasswordM.valid || !oldPasswordValid ">
                        {{oldPasswordError}}
                    </mat-error>
                </mat-form-field>
                <!-- <div class="section-group">
                    <label class="text-uppercase">Old password <i class="fa fa-lock"></i></label>
                    <input class="form-control" type="password" name="password" [(ngModel)]="oldPassword" required pattern="{{passwordRegex}}" placeholder="********" #oldPasswordM="ngModel">
                    <span class="text-danger" *ngIf="oldPasswordM.touched && !oldPasswordM.valid || !oldPasswordValid ">
                    {{oldPasswordError}}
                  </span>
                </div> -->
                <div>
                    <div>
                        <button type="submit" mat-raised-button color=primary (click)="submitOldPassword()">
                      Submit Password
                    </button>
                    </div>
                    <div class="pull-left">
                        <button type="button" mat-button color=warn (click)="getPreviousOption()">
                          back
                        </button>
                        <button type="button" mat-button color=accent (click)="getNextOption()">
                          try a different option
                        </button>
                    </div>

                </div>
            </form>
        </mat-card>

    </div>

</div>
<!-- /main-form-content -->