<!-- Footer Section -->
<footer id="foot">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 spaceDown">
                <div class="contDet">
                    <div class="sp">
                        Address: P. O. Box 123456, Accra, Ghana.
                    </div>

                    <div class="sp">
                        <i class="fa fa-phone"></i> +233-12-345-6789 <br>
                    </div>
                    <div class="sp">
                        <i class="fa fa-whatsapp"></i> +233-12-345-6789 <br>
                    </div>
                    <div class="sp">
                        <i class="fa fa-envelope-o"></i> benkwash@yahoo.com
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 spaceDown">
                <div class="FootHead"> <strong style="text-decoration: underline;">comeCho Terms of Service </strong> </div>
                <div class="aboutComp">
                    Kindly take some time to go through the comeCho Terms of Service.
                    <a href="terms.html" style="color:#fff; text-decoration: underline;">Click here to read the comeCho Terms of Service. </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="FootHead"> <strong style="text-decoration: underline;"> About comeCho </strong> </div>
                <div class="aboutComp">
                    <b>comeCho</b> is an internet-based food ordering system for vendors and customers.
                </div>
            </div>

        </div>
    </div>

    <div id="copyRight">
        &copy; 2020 benkwash tech
    </div>
</footer>