.screen-is-mobile .top-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.drawer-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    // flex: 1 0 auto;
}

.screen-is-mobile .drawer-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

// :host {
//     display: flex;
//     flex-direction: column;
//     height: 100%
// }
mat-sidenav-container {
    height: 100vh;
    // width: 100%;
    // margin: auto
}

mat-sidenav {
    width: 300px;
}

.main-content {
    // overflow-x: hidden;
    position: relative;
    width: fit-content;
    // width: 100%;
    // display: inline;
    // margin: 0;
}

mat-sidenav-content {
    background-color: #ffffff;
}