/* .rating {
} */

mat-card {
    margin: 10px;
}

.rating-star {
    color: #919191;
}

.star-colored {
    color: #08328d;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.review-rating>.material-icons {
    font-size: 15px;
    vertical-align: text-bottom;
}

.info-tab,
.rating-no {
    display: flex;
    /* margin-top: 20px; */
}

.info-left {
    flex: 0 0 35%;
}

.info-right {
    flex: 1;
}

.rating-no>p {
    flex: 0 0 5%;
}

.rating {
    width: 100%;
}

.rating>mat-card {
    max-width: 100%;
    position: relative;
}

.rating-head,
.review-head {
    width: 100%;
    display: flex;
    margin: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.rating-number>h3 {
    margin: auto;
    font-size: 90px !important;
    margin-bottom: 25px;
    /* margin-top: 50px; */
}

.rating-number {
    padding: 40px 0;
}

.rating-number>* {
    text-align: center;
}

.rating>mat-card {
    height: 250px;
}

.user-number>h4,
.review-head>h4 {
    font-size: 17px !important;
}

.review-head,
.reply-head {
    margin-bottom: -15px;
}

.rating-number,
.rating-breakdown {
    height: 160px;
}

.review-rating {
    float: left;
    margin-right: 10px;
}

mat-progress-bar {
    /* width: 70%; */
    height: 10px;
    border-radius: 5px;
    position: relative;
    top: 5px;
}

mat-divider {
    padding-bottom: 10px;
}

.reviews {
    padding-top: 10px;
}

.review-replies,
.reply-action {
    margin-left: 30px;
}

.reply-action>mat-form-field {
    width: 100%;
}

@media (max-width: 600px) {
    .rating-number>h3 {
        /* margin: auto; */
        font-size: 50px !important;
        text-align: center;
        /* margin-top: 50px; */
    }
}