.revenue-summary {
    /* overflow: auto; */
    margin: 10px;
}

.table-head {
    margin-top: 5px;
    text-align: center;
}

.table-data {
    overflow: auto;
    height: 270px;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}