<div>
    <div id="content-box">
        <div id="top">
            <div id="big-icon">
                <i class="fas fa-check"></i>
            </div>
        </div>
        <div id="main">
            <header>
                <h2>Thank You!
                    <small>for signing up</small>
                </h2>
                <h4>We are excited to have you on this platform.</h4>
            </header>
            <div>
                <p>However, to explore all features of this platform, we recommend that you first provide some configurations about your Restaurant
                </p>
            </div>
            <div>
                <button mat-raised-button color="primary" [routerLink]="['../configuration']">
                    Configure
                </button>
            </div>
        </div>
    </div>
</div>