<ng-template #modalTemplate>
	<div class="modal-body">
		<label>Please confirm your password : </label><br>
			<input type="password" class="form-control" size="30"  name="password" required
					 [(ngModel)]="passwordInput" #password="ngModel">
	</div>
	<div class="modal-footer">
		<div class="content">
			<button type="button" class="btn btn-default" (click)="passwordGetDecline()">Cancel</button>
			<button type="button" class="btn btn-primary" (click)="passwordGetConfirm()"
					  [disabled]="!password.valid">
				Proceed
			</button>
		</div>
	</div>
</ng-template>