<ng-container *ngIf="signUpPhase == 1">
    <div class="signup-form">

        <form #form="ngForm">
            <h2>Sign Up Restaurant</h2>
            <p>Please fill this form to join our vendors!</p>
            <hr>
            <mat-form-field class="form-width" appearance=standard>
                <mat-label>Restaurant name</mat-label>
                <input matInput [(ngModel)]="formState.fName.value" required name="fName" pattern="{{nameRegex}}" #fname="ngModel">
                <mat-error *ngIf="fname.touched && !fname.valid && formState.fName.value!=''">
                    {{formState.fName.error}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-width" appearance=standard>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="formState.email.value" name="email" required pattern="{{emailRegex}}" #email="ngModel" (change)="onEmailChange()">
                <mat-error *ngIf="formState.email.value !='' && !isCheckingEmail && ((email.touched && !email.valid) || !formState.email.valid)">
                    {{formState.email.error}}
                </mat-error>
            </mat-form-field>
            <div *ngIf="isCheckingEmail">
                <mat-progress-bar class="example-margin" color="primary" mode="indeterminate">
                </mat-progress-bar>
            </div>


            <mat-form-field class="form-width" appearance=standard>
                <mat-label>password</mat-label>
                <input matInput [type]="!passwordView ? 'password' : 'text'" [(ngModel)]="formState.password.value" name="password" required pattern="{{passwordRegex}}" #password="ngModel" (change)="validateNewPassword();onPasswordConfirm()">
                <button mat-icon-button matSuffix (click)="passwordView = !passwordView" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordView">
                    <mat-icon>{{!passwordView ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf=" formState.password.value!='' &&password.touched && !password.valid || !isPasswordStringEnough">
                    {{formState.password.error}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-width form-group" appearance=standard>
                <mat-label>confirm password</mat-label>
                <input matInput [type]="!confirmPasswordView ? 'password' : 'text'" [(ngModel)]="formState.passwordConfirm.value" name="confirmPassword" required pattern="{{passwordRegex}}" (change)="onPasswordConfirm()" #passwordConf="ngModel" [ngClass]="{invalid:!formState.passwordConfirm.valid}">
                <button mat-icon-button matSuffix (click)="confirmPasswordView = !confirmPasswordView" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordView">
                    <mat-icon>{{!confirmPasswordView ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formState.passwordConfirm.value!='' && passwordConf.touched && !passwordConf.valid || !formState.passwordConfirm.valid">
                    {{formState.passwordConfirm.error}}
                </mat-error>
            </mat-form-field>



            <div class="form-group">
                <label class="checkbox-inline">
                    <mat-checkbox color="primary" value="true" name="agreetoterms" [(ngModel)]="agreeToTermsValidate"
                        color="primary">
                    </mat-checkbox>

                    <label id="terms-label" [popover]="popTermsConditionsTemplate" placement="top"
                        [isOpen]="openPopOver">
                        I accept the
                        <a (click)="openTermsAndConditions()">terms and conditions</a>
                        pertaining the use of this platform.
                    </label>
                </label>
                <app-terms-conditions *ngIf="showTermsComponent" [enforceAgreement]="true" (acceptStatus)="processAcceptTermsStatus($event)">
                </app-terms-conditions>
            </div>

            <div class="form-group">
                <button mat-raised-button color="primary" name="submit" [disabled]="isSubmitting || !form.valid || !isPasswordStringEnough ||
                                !formState.passwordConfirm.valid|| !formState.email.valid || !agreeToTermsValidate" (click)="onSubmitSignUp()">
                    Sign Up
                </button>
            </div>
        </form>
        <label>
            <div class=" hint-text ">Already have an account? <a [routerLink]="[ '/signIn'] ">Login here</a></div>
        </label>
    </div>

    <!-- End of form -->
</ng-container>
<ng-container *ngIf="signUpPhase == 2">
    <div class="signup-form">
        <form (ngSubmit)="onSubmitVerificationCode()" #form1="ngForm">
            <h2>Email Account Verification </h2>
            <p>Kindly check your email for your account verification code.</p>
            <hr>
            <div class="section-group">
                <h4 [ngClass]="{'text-danger':!emailVerificationSent}">
                    <ng-container *ngIf="emailVerificationSent">
                        Email Verification successfully sent.
                    </ng-container>
                    <ng-container *ngIf="!emailVerificationSent">
                        Email Verification sending failed. Please try again.
                    </ng-container>
                </h4>
            </div>

            <mat-form-field class="form-width" appearance=standard>
                <mat-label>verification code</mat-label>
                <input matInput [(ngModel)]="verificationCode" required name="verificationCode" (change)="onChangeVerification()" #code="ngModel">
                <mat-error *ngIf="verificationCodeSubmitBtnClicked &&
                (!code.valid || !verificationCodeValid)">
                    {{verificationCodeErrMsg}}
                </mat-error>
            </mat-form-field>

            <div class="form-group">

                <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting || !form1.valid || !verificationCode">
                    Verify Account
                </button>
            </div>
            <div class=" hint-text ">No verification code? <a (click)="resendVerificationEmail()">Resend code</a></div>

        </form>
    </div>

</ng-container>
<ng-container *ngIf="signUpPhase == 3">
    <div class="signup-form">
        <form (ngSubmit)="updateRecoveryOptions()" #recoveryForm="ngForm">
            <h2>Account Recovery Options</h2>
            <p>Please provide either a number,an alternative email or both.</p>
            <hr>
            <mat-form-field class="form-width" appearance=standard>
                <mat-label>recovery number</mat-label>
                <input matInput [(ngModel)]="recoveryOptions.number" name="recoveryNumber" pattern="{{numberRegex}}" #telephone="ngModel">
                <mat-error *ngIf="recoveryOptions.number && !telephone.valid">
                    {{numberErrMsg}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-width" appearance=standard>
                <mat-label>alternative email</mat-label>
                <input matInput [(ngModel)]="recoveryOptions.email" name="recoveryEmail" pattern="{{emailRegex}}" email #emailM="ngModel">
                <mat-error *ngIf="recoveryOptions.email && !emailM.valid">
                    {{emailErrMsg}}
                </mat-error>
            </mat-form-field>

            <div class="form-width">
                <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting || !recoveryForm.valid ||
                        (!recoveryOptions.number && !recoveryOptions.email)">
                    UPDATE ACCOUNT
                </button>
                <a (click)="skipRecovery()" class="skip-action">SKIP</a>
            </div>
        </form>
    </div>

</ng-container>