.main-card {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.sub-card {
    /* width: 200px; */
    margin: 10px;
}

.sub-card mat-card {
    width: 100;
    max-width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
}

.sub-card form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.form-width {
    width: 100%;
}