<div class="main-card">
    <div class="sub-card">
        <mat-card>

            <h2 class="text-center">Account Recovery - New Password<br>
                <small>Provide a new password</small>
            </h2>
            <form (ngSubmit)="submitNewPassword()" #passwordForm="ngForm">

                <mat-form-field appearance="standard" class="form-width">
                    <mat-label>new password</mat-label>
                    <input matInput type="{{newPasswordView ? 'text':'password'}}" [(ngModel)]="formState.newPassword.value" name="newPassword" required pattern="{{regex.password}}" #newPassword="ngModel" (change)="validateNewPassword();onPasswordConfirm()">
                    <button mat-icon-button matSuffix type="button" (click)="newPasswordView = !newPasswordView">
                  <mat-icon>{{newPasswordView? 'visibility':'visibility_off'}}</mat-icon>
                </button>
                    <mat-error *ngIf="formState.newPassword.value &&
                                (!newPassword.valid || !isNewPassStrongEnough || !formState.newPassword.valid)">
                        {{formState.newPassword.error}}
                    </mat-error>
                </mat-form-field>
                <div *ngIf="isServerCheckingNewPass">
                    Please wait. Checking new password ...
                    <img class="loadingGif" src="assets/images/core/loading-6.gif" alt="checking password...">
                </div>


                <mat-form-field appearance="standard" class="form-width">
                    <mat-label>confirm password</mat-label>
                    <input matInput type="{{confirmPasswordView ? 'text':'password'}}" [(ngModel)]="formState.newPasswordConfirm.value" name="newPasswordConfirm" required pattern="{{regex.password}}" (change)="onPasswordConfirm()" #passwordConf="ngModel" [ngClass]="{invalid:!formState.newPasswordConfirm.valid}">
                    <button mat-icon-button matSuffix type="button" (click)="confirmPasswordView = !confirmPasswordView">
                  <mat-icon>{{confirmPasswordView? 'visibility':'visibility_off'}}</mat-icon>
                </button>
                    <mat-error *ngIf="formState.newPasswordConfirm.value &&
                (!passwordConf.valid || !formState.newPasswordConfirm.valid)">
                        {{formState.newPasswordConfirm.error}}
                    </mat-error>
                </mat-form-field>
                <div *ngIf="isServerCheckingNewPass">
                    Please wait. Checking new password ...
                    <img class="loadingGif" src="assets/images/core/loading-6.gif" alt="checking password...">
                </div>

                <!-- <div class="section-group">
                    <label class="text-uppercase">New Password <i class="fa fa-lock"></i></label>
                    <div class="password-container">
                        <input type="{{newPasswordView ? 'text':'password'}}" [(ngModel)]="formState.newPassword.value" name="newPassword" class="form-control" placeholder="**********" required pattern="{{regex.password}}" #newPassword="ngModel" (change)="validateNewPassword();onPasswordConfirm()">
                        <a class="toggle-password" (click)="newPasswordView = !newPasswordView">
                            <i class="fas" [ngClass]="{'fa-eye-slash':newPasswordView,
																		'fa-eye':!newPasswordView}">
                    </i>
                        </a>
                    </div>
                    <div *ngIf="isServerCheckingNewPass">
                        Please wait. Checking new password ...
                        <img class="loadingGif" src="assets/images/core/loading-6.gif" alt="checking password...">
                    </div>
                    <div class="text-danger" *ngIf="formState.newPassword.value &&
										(!newPassword.valid || !isNewPassStrongEnough || !formState.newPassword.valid)">
                        {{formState.newPassword.error}}
                    </div>
                </div> -->
                <!-- <div class="section-group">
                    <label class="text-uppercase">Confirm Password <i class="fa fa-lock"></i></label>
                    <div class="password-container">
                        <input type="{{confirmPasswordView ? 'text':'password'}}" [(ngModel)]="formState.newPasswordConfirm.value" name="newPasswordConfirm" class="form-control" placeholder="*********" required pattern="{{regex.password}}" (change)="onPasswordConfirm()" #passwordConf="ngModel"
                            [ngClass]="{invalid:!formState.newPasswordConfirm.valid}">
                        <a class="toggle-password" (click)="confirmPasswordView = !confirmPasswordView">
                            <i class="fas" [ngClass]="{'fa-eye-slash':confirmPasswordView,
																		'fa-eye':!confirmPasswordView}">
                    </i>
                        </a>
                    </div>
                    <div class="text-danger" *ngIf="formState.newPasswordConfirm.value &&
												(!passwordConf.valid || !formState.newPasswordConfirm.valid)">
                        {{formState.newPasswordConfirm.error}}
                    </div>
                </div> -->
                <div>
                    <button type="submit" mat-raised-button color=primary *ngIf="!updatedPassword" [disabled]="!passwordForm.valid || isServerCheckingNewPass || !checkedServerNewPass ||
											  		!formState.newPassword.valid || !isNewPassStrongEnough ||
											  		!formState.newPasswordConfirm.valid">
                  Update Password
                </button>
                    <button type="button" mat-raised-button color=primary *ngIf="updatedPassword" (click)="navigateToLogin()">
                  Log In
                </button>
                </div>
            </form>
        </mat-card>


    </div>
    <!-- container -->
</div>
<!-- /main-form-content -->