<div class="main-card">
    <div class="sub-card">
        <mat-card>
            <h2 class="text-center">Account Recovery<br>
                <small>Provide your username to continue</small>
            </h2>


            <form (ngSubmit)="submitUsername()" #form="ngForm">
                <mat-form-field appearance="standard" class="form-width">
                    <mat-label>email or username</mat-label>
                    <input matInput type="text" name="username" [(ngModel)]="username" required pattern="{{usernameRegex}}" #usernameM="ngModel">
                    <button mat-icon-button matSuffix type="button">
                      <mat-icon>email</mat-icon>
                    </button>
                    <mat-error *ngIf="usernameM.touched && !usernameM.valid || !usernameValid">
                        {{usernameError}}
                    </mat-error>
                </mat-form-field>
                <div>
                    <button type="submit" mat-raised-button color=primary [disabled]="!form.valid">
                    Submit
                  </button>
                </div>
            </form>
        </mat-card>

    </div>

    <!-- /panel-body -->

</div>
<!-- main-form-content -->