<div id="main-page-section" [class.screen-is-mobile]="mobileQuery.matches">


    <app-restaurant-staff-navbar (toggleSideBar)=sideBarToggle($event) class="top-toolbar">

    </app-restaurant-staff-navbar>
    <div>
        <mat-sidenav-container class="drawer-container" id="mainPage">
            <mat-sidenav mode="side" [opened]=sideBarOpened #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="50">
                <app-staff-sidenav (toggleSideBar)=sideBarToggle($event)></app-staff-sidenav>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet class="main-content"></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

</div>